.footer {
    background-color:#F8F9FA;
    flex-wrap: wrap;
    cursor: pointer;
} 
.footer-list {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1rem;   
}
.icon-footer {
     font-size: 1.3rem;
     color: #7e7e7e;
     margin: 0 0.6rem
 }
