/* Nesting o anidamiento */

@import "navbar";
@import "presentacion";
@import "footer";
@import "variables";
@import "formulario";
@import "cards";


.carrousel {
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    .card-style {
        margin: 2rem;
    }
    .card-style-img {   
        margin: 0.5rem;
    }
}


/* Whatsapp Fixed */
.item-fixed {
    width: 50px;
    position: fixed;
    bottom: 26px;
    right: 10px;

    &:hover {
        transform: scale(1.3);
        transition: all 0.4s;
    }
}
